/* if the viewport is equal to 1910px or less than that */
@media only screen and (max-width: 1910px) {
  .header_area .main-menu .navbar {
    padding: 1rem;
  }

  .container {
    max-width: 90%;
  }

  .site-main .brand-area {
    padding: 3% 4%;
  }

  .site-main .about-area {
    padding: 3% 2%;
  }
}

/* if the viewport is equal to 1080px or less than that */
@media only screen and (max-width: 1080px) {
  .header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 2rem;
  }

  .site-main .brand-area .experience-area .bg-panel {
    margin-left: 20%;
    width: 100%;
    height: 250px;
  }

  .site-main .brand-area .first-row {
    margin-top: 30%;
  }

  .site-main .project-area .button-group button {
    padding: 0 2em;
  }

  .site-main .project-area .button-group button + button {
    padding: 0 2em;
  }
}

@media only screen and (max-width: 991px) {
  .menu-icon {
    display: block;
  }
}

/* if the viewport is equal to 900px or less than that */
@media only screen and (max-width: 900px) {
  .site-main .about-area .about-title h2 > span {
    font-size: 31px;
    letter-spacing: 10px;
    margin-top: -4em;
    margin-left: -0.8em;
  }

  .site-main .about-area .about-title .paragraph {
    margin-top: -8%;
  }

  .brand-area .skills-e {
    font-size: 31px;
    letter-spacing: 10px;
    margin-bottom: 2.5em;
    margin-top: -1.5em;
  }

  .site-main .brand-area .experience-area .bg-panel {
    margin-top: -10%;
    left: -20%;
    background: none;
  }

  .site-main .brand-area .first-row {
    display: none;
  }

  .site-main .project-area .button-group button {
    font: normal 500 18px/40px var(--ubuntu);
    font-size: 1em;
    padding: 0 2em;
  }

  .site-main .about-area .about-title p {
    padding: 0%;
  }

  .site-main .project-area .button-group button + button {
    padding: 0 2em;
  }

  .site-main .project-area {
    margin-top: 9em;
  }

  .site-main .project-area .project-title .title-h1 {
    font-size: 1.8em;
  }
}

/* if the viewport is equal to 680px or less than that */
@media only screen and (max-width: 680px) {
  .header_area .main-menu .navbar,
  .header_area .main-menu .navbar .navbar-brand {
    padding: 2%;
    margin: 0%;
  }

  .brand-area .skills-e {
    margin-top: -1em;
    font-size: 31px;
    letter-spacing: 10px;
  }

  .site-main .about-area .about-title h2 > span  {
    font-size: 31px;
    letter-spacing: 10px;
    margin-left: -0.1em;
  }

  .site-main .about-area {
    width: 100%;
    margin-left: -2em;
  }

  .site-main .brand-area .experience-area .bg-panel {
    padding: 1em;
    width: 100%;
    height: 300px;
  }

  .site-main .brand-area .experience-area .bg-panel:first-child {
    margin-top: -6em;
    margin-bottom: 1em;
  }

  .site-main .project-area {
    margin-top: 10em;
  }

  .site-main .project-area .project-title .title-h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  .site-main .project-area .button-group {
    margin-top: -2em;
  }

  .site-main .project-area .button-group button {
    padding: 0 1em;
  }

  .site-main .project-area .button-group button + button {
    padding: 0 1.2em;
  }
}

/* if the viewport is equal to 480px or less than that */
@media only screen and (max-width: 480px) {
  .site-main .brand-area .experience-area .bg-panel {
    padding: 1em;
    width: 100%;
    height: 400px;
  }

  .site-main .brand-area .experience-area .bg-panel:first-child {
    margin-top: -6em;
    margin-bottom: 1em;
  }

  .site-main .project-area {
    margin-top: 17em;
  }

  .site-main .project-area .project-title .title-h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  .site-main .project-area .button-group button + button {
    padding: 0 1.2em;
    margin: 0;
  }
}

/* if the viewport is equal to 380px or less than that */
@media only screen and (max-width: 380px) {
  .site-main .about-area .about-title h2 > span  {
    font-size: 28px;
    letter-spacing: 5px;
  }

  .site-main .brand-area .experience-area .bg-panel {
    height: 450px;
  }

  .site-main .project-area {
    margin-top: 20em;
  }

  .site-main .project-area .project-title .title-h1 {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .site-main .project-area .button-group button {
    padding: 0em 0.41em;
  }

  .site-main .project-area .button-group button + button {
    padding: 0 0.41em;
  }
}

/* if the viewport is equal to 320px or less than that */
@media only screen and (max-width: 320px) {
  .site-main .about-area .about-title h2 > span  {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .site-main .about-area {
    width: 100%;
    margin-left: -2.5em;
  }

  .site-main .brand-area .experience-area .bg-panel {
    height: 550px;
  }
}
