/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

body {
  background-color: #002631;
  color: #fff;
}

.menu-icon {
  width: 32px;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 44px;
  cursor: pointer;
  color: #fff;
  display: none;
} 

/* start navigation */
header {
  background-color: none ;
}
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 4rem;
  color: #fff;
  font-weight: 700;
  font-family: var(--ubuntu);
  font-size: 2em;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--ubuntu);
  text-transform: uppercase;
  padding: 1.7rem;
  color: #fff;
}

.header_area .main-menu .navbar-nav .active a {
  color: #ed5565;
}

.header_area .main-menu .navbar-nav a:hover {
  color: #ed5565;
}

.nav_color {
  background-color: rgb(10, 18, 22);
  color: aqua;
}

/* end navigation */

/* Banner Area */

.site-main .site-banner .site-title h3 {
  padding-top: 20%;
  font-size: 2.5rem;
}

.site-main .site-banner .site-title h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.site-main .site-banner .site-title span.name {
  color: #ed5565;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.8rem;
}

.site-main .site-banner .site-title h4 p {
  font-size: 1rem;
  opacity: 0.6;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

.site-main .site-buttons button {
  margin-top: 2em;
}

/* End Banner Area */

/* Start About Area */

.site-main .about-area {
  padding: 8rem 5rem;
  font-family: var(--ubuntu);
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/ 60px var(--ubuntu);
  letter-spacing: 21px;
  opacity: 0.1;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
  color: rgb(224, 212, 212);
}

/* End About Area */

/* Start Brand Area */

.site-main .brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.brand-area .skills-e {
  font: normal bold 49px/ 60px var(--ubuntu);
  letter-spacing: 20px;
  padding: 3rem 1rem;
  opacity: 0.1;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(2.15);
}

.site-main .brand-area .experience-area {
  padding-left: 1rem;
}


.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  width: 500px;
  height: 400px;
  margin-left: 220px;
  z-index: -1;
  padding: 2em;
  background-color: #002631;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  font-family: var(--ubuntu);
}

.site-main .brand-area .experience-area .bg-panel .tech-stack {
  color: #ed5565;
}

.site-main .brand-area .experience-area .bg-panel .para {
  color: rgb(224, 212, 212);
}

/* End Brand Area */

/* Project Area */

.site-main .project-area {
  padding: 4rem 0;
}

.site-main .project-area .project-title .title-h1 {
  opacity: 0.1;
  font: normal bold 49px/ 60px var(--ubuntu);
  letter-spacing: 21px;
}

.site-main .project-area .button-group button {
  background: transparent;
  font: normal 500 16px/40px var(--ubuntu);
  text-transform: uppercase;
  color: #bebebe;
  border: 3px solid #ed5565;
  border-radius: 50px;
  margin-bottom: 2em;
  padding: 0 1rem;
}

.site-main .project-area .button-group button:hover {
  color: #fff;
}

.site-main .project-area .button-group button + button {
  margin-left: 2em;
}

.site-main .project-area .button-group .active {
  background: #ed5565;
  color: #fff;
}

.site-main .project-area .grid .our-project > .title h4 {
  font: normal 700 25px/12px var(--ubuntu);
  color: #bebebe;
}

.site-main .project-area .grid .our-project .img a:hover img {
  filter: brightness(0.8);
  transform: scale(1.1);
  box-shadow: var(--box-shadow);
  transition: transform 0.4s ease;
}

/* End Project Area */

/* Footer Area */

footer.footer-area {
  padding-top: 0;
  padding-bottom: 2rem;
  background-color:  rgb(10, 18, 22); 
}

footer.footer-area .social h5 {
  padding-top: 1em; 
  font: normal 500 23px/ 30px var(--ubuntu);
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: #ed5565;
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}

footer.footer-area .copyrights i {
  color: #ed5565;
  font-size: 22px;
  /* padding: 2rem; */
}

footer.footer-area .copyrights .para {
  color: rgb(224, 212, 212);
}

footer.footer-area .copyrights .name {
  color: #ed5565;
}

/* End Footer */
