@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  padding:0px;
  margin:0px;
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1491956175078-460aea0914ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1550&q=80") center center;
  background-size:cover;
  width:100vw;
  height:100vh;
  overflow:hidden;
  font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
  width:5px;
  height:5px;
}
::-webkit-scrollbar-track {
  background: #fff; 
}
::-webkit-scrollbar-thumb {
  background: #ff4040; 
}
::-webkit-scrollbar-thumb:hover {
  background: #ff4040;; 
}
::selection {
color: #fff;
background: #ff4040;;
}